body {
    font-family: "Press Start 2P", system-ui;
    height: 100vh; /* Use full viewport height */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9d3030;
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}
  
.gameArea {
    position: relative;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(7, 26, 49, 0.6);
    /* border: #919bbec7 10px solid; */
    border-radius: 4px;
    /* backdrop-filter: blur(4px); */
}

.paddle {
    height: 15%; /* Responsive height */
    width: 1%; /* Responsive width */
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%; /* Center vertically */
    /* transform: translateY(-50%);  */
    /* Adjust for paddle height */
}

.paddle1 {
    left: 0%; /* Position paddle on the left */
}

.paddle2 {
    right: 0%; /* Position paddle on the right */
}

.ball {
    position: absolute;
    height: 2%; /* Responsive size */
    width: 2%; /* Responsive size */
    background: rgba(255, 13, 0, 0.9);
    border-radius: 0%; /* Make it perfectly circular */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    /*transform: translate(-50%, -50%); /* Adjust for ball size */
    /* box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.9); */
}

.net {
    position: absolute;
    border-right: 4px rgba(255, 255, 255, 0.3) dotted;
    height: 100%;
    left: 50%; /* Center the net */
    transform: translateX(-50%);
}

.title {
    position: absolute;
    top: 5%; /* Adjust for responsiveness */
    font-size: 2vw; /* Responsive font size */
}

.score {
    position: absolute;
    top: 5%; /* Adjust for responsiveness */
    display: flex;
    width: 5vw; /* Responsive width */
    height: 5vw; /* Responsive height */
    justify-content: center;
    align-items: center;
}

.player1Score {
    left: 20%; /* Adjust position for responsiveness */
}

.player2Score {
    right: 20%; /* Adjust position for responsiveness */
}

.startText {
    position: absolute;
    margin: 0;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #222;
    border-radius: 4px;
    padding: 1vw; /* Responsive padding */
    font-size: 1.5vw; /* Responsive font size */
}
